
@{
    ViewBag.Title = "Developers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@*Developers Page*@
<h1 style="text-align:center">The Developers</h1>

<br />
<br />


@****************Table for Developer's Pictures and Links****************@

<table align="center">

    @****************Developer Names****************@
    <tr>
        <th> <p style="text-align:center; font-size:20px">Brett Merrifield</p> </th>
        <th>&nbsp;</th>
        <th> <p style="text-align:center; font-size:20px">Lanna Brasure</p> </th>
        <th>&nbsp;</th>
        <th> <p style="text-align:center; font-size:20px">Abrahim Alsoraimi</p> </th>
    </tr>


    @****************Developer Pictures****************@
    <tr>
        <th> <p style="text-align:center"><img src="../../img/developers/Brett.jpg" alt="Brett" width="300" height="300" title="Brett Merrifield" hspace="25"></p> </th>

        <th>&nbsp;</th>
        <th> <p style="text-align:center"><img src="../../img/developers/Lanna.jpg" alt="Lanna" width="300" height="300" title="Lanna Brasure" hspace="25"></p> </th>

        <th>&nbsp;</th>
        <th> <p style="text-align:center"><img src="../../img/developers/Abe.png" alt="Abe" width="300" height="300" title="Abrahim Alsoraimi" hspace="25"></p> </th>
    </tr>


    @****************Developer Links for LinkedIn and GitHub****************@
    <tr>

        @******* Brett Links for LinkedIn and GitHub *******@
        <th>
            <a href="https://www.linkedin.com/in/brettmerrifield/">
                <p style="text-align:center">
                    <img src="../../img/developers/LinkedInIcon.jpg" alt="Brett" width="25" height="25" title="Brett LinkedIn" hspace="3">

                    <a href="https://github.com/BrettMerri">
                        <img src="../../img/developers/GitHubIcon.jpg" alt="Brett" width="25" height="25" title="Brett GitHub">
                </p>
        </th>

        @*Spacing*@
        <th>&nbsp;</th>


        @******* Lanna Links for LinkedIn and GitHub *******@
        <th>
            <a href="https://www.linkedin.com/in/lanna-brasure/">
                <p style="text-align:center">
                    <img src="../../img/developers/LinkedInIcon.jpg" alt="Lanna" width="25" height="25" title="Lanna LinkedIn" hspace="3">

                    <a href="https://github.com/lannalmb">
                        <img src="../../img/developers/GitHubIcon.jpg" alt="Lanna" width="25" height="25" title="Lanna GitHub">
                </p>
        </th>

        @*Spacing*@
        <th>&nbsp;</th>


        @******* Abrahim Links for LinkedIn and GitHub *******@
        <th>
            <a href="https://www.linkedin.com/in/abrahim-alsoraimi/">
                <p style="text-align:center">
                    <img src="../../img/developers/LinkedInIcon.jpg" alt="Abrahim" width="25" height="25" title="Abrahim LinkedIn" hspace="3">

                    <a href="https://github.com/alsoraimi">
                        <img src="../../img/developers/GitHubIcon.jpg" alt="Abrahim" width="25" height="25" title="Abrahim GitHub">
                </p>
    </tr>
</table>


