
@{
    ViewBag.Title = "Developers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style type="text/css">
    .developerPictures {
        margin: 0 auto;
        margin-bottom: 10px;
    }
    .LinkedInAndGitHub {
        width: 25px;
        height: 25px;
    }
    .col-md-4 {
        text-align: center;
        margin-top: 15px;
    }
</style>

<br />

@*Developers Page*@
<h1 style="text-align:center">The Developers</h1>

<div class="row">
    <div class="col-md-4">
        <p style="text-align:center; font-size:20px">Brett Merrifield</p>
        <img src="../../img/developers/Brett.jpg" class="developerPictures" alt="Brett" title="Brett Merrifield" />
        <br />
        <a href="https://www.linkedin.com/in/brettmerrifield/"><img src="../../img/developers/LinkedInIcon.jpg" class="LinkedInAndGitHub" alt="Brett" title="Brett LinkedIn"></a>
        <a href="https://github.com/BrettMerri"><img src="../../img/developers/GitHubIcon.jpg" class="LinkedInAndGitHub" alt="Brett" title="Brett GitHub"></a>
    </div>
    <div class="col-md-4">
        <p style="text-align:center; font-size:20px">Lanna Brasure</p>
        <img src="../../img/developers/Lanna.jpg" class="developerPictures" alt="Lanna" title="Lanna Brasure" />
        <br />
        <a href="https://www.linkedin.com/in/lanna-brasure/"><img src="../../img/developers/LinkedInIcon.jpg" class="LinkedInAndGitHub" alt="Lanna" title="Lanna LinkedIn"></a>
        <a href="https://github.com/lannalmb"><img src="../../img/developers/GitHubIcon.jpg" class="LinkedInAndGitHub" alt="Lanna" title="Lanna GitHub"></a>
    </div>
    <div class="col-md-4">
        <p style="text-align:center; font-size:20px">Abrahim Alsoraimi</p>
        <img src="../../img/developers/Abe.jpg" class="developerPictures" alt="Abe" title="Abrahim Alsoraimi" />
        <br />
        <a href="https://www.linkedin.com/in/abrahim-alsoraimi/"><img src="../../img/developers/LinkedInIcon.jpg" class="LinkedInAndGitHub" alt="Abrahim" title="Abrahim LinkedIn"></a>
        <a href="https://github.com/alsoraimi"><img src="../../img/developers/GitHubIcon.jpg" class="LinkedInAndGitHub" alt="Abrahim" title="Abrahim GitHub"></a>
    </div>
</div>