
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<html lang="en">
<head>
    <title>Pawprint</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
</head>


<body style="background-color:lightgray">
    <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b47baebe79f8e4"></script>

    <br />
    <br />

    <p style="text-align:center; font-size:50px">Pawprint</p>
    <img src="../../img/homepage/pawprints.png" alt="Prints" width="350" height="300" title="Prints"><img src="../../img/homepage/pawprints.png" alt="Prints" width="350" height="300" title="Prints"><img src="../../img/homepage/pawprints.png" alt="Prints" width="350" height="300" title="Prints">


    <h3 style="text-align:center">
        <p>Welcome to Pawprint!</p>
        <p>Pawprint is a social media platform focused solely around animals for pet lovers.  As a registered user, you will have the ability to add your very own pets to this site so that each one of them can have their own profile!  From there, you will be able to post under whichever of your pets you choose.  You also will have access to follow other pets and explore other profiles that you might not be following</p>
    </h3>
    <br />
    <br />
    <script async src="https://static.addtoany.com/menu/page.js"></script>
</body>
</html>


