
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    body
    {
        background-color:lightgray;
    }
    .logo
    {
    display: block;
    margin: auto;
    width: 20%;
    }

    p, h3
    {
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }

</style>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-58b47baebe79f8e4"></script>
<h3 style="text-align:center; margin-top:0px; font-style:italic; font-stretch:ultra-expanded">Welcome to </h3>
<img class ="logo" src="../../img/homepage/logo.png" alt="logo"/>


<img src="../../img/homepage/pawprints.png" alt="Prints" style="width:32%;" />
<img src="../../img/homepage/pawprints.png" alt="Prints" style="width:32%;" />
<img src="../../img/homepage/pawprints.png" alt="Prints" style="width:32%;" />


<h3 style="text-align:center; margin-top:0px">Pawprint is a social media platform focused solely around animals for pet lovers.  As a registered user, you will have the ability to add your very own pets to this site so that each one of them can have their own profile!</h3>
<h3 style="text-align:center; margin-top:0px">From there, you will be able to post under any of your pets.  You will have access to follow other pets, like posts, comment on posts, and explore other profiles that you may not be following.</h3>
<h3 style="text-align:center; margin-top:0px">As a non-registered user, you will have the ability to explore all of the animals on the site however you will not have access to follow pets, like posts, or comment on posts.</h3>
<img style="text-align:center; width:100%;" src="../../img/homepage/pets.png" alt="Animals" />
<br />
<br />

<script async src="https://static.addtoany.com/menu/page.js"></script>