.liked {
    background-color: mediumslateblue;
}
.hover { 
    background-color: mediumslateblue;
}
.follow, .unfollow {
    margin-top: 10px;
}
.currentUserCommentAvatar {
    width:auto;
    height:35px;
    margin-right:2px;
    float:left;
}
.lead {
    margin-bottom:0px;
}
.post-controls {
    width:100%;
    height:25px;
}
.comment {
    margin-bottom:10px;
}
.comment-avatar {
    height:38px;
    width:auto;
}
img.UserImage {
    width:auto;
    height:100px;
    display:block;
    opacity:0.8;
}
.UserdivVertical {
    margin: 0 auto 15px;
    text-align:center;
}
.panel-body .Userdiv:last-child {
    margin-right:0px;
} 
.Userinnerdiv {
    display: inline-block;
}
.Userinnerdiv a:hover img.UserImage {
    opacity:1;
}
.UserdivText {
    font-size:18px;
    text-align:center;
}
@media (max-width: 990px) {
    .UserdivVertical {
        float:left;
        margin: 0 auto 15px;
        text-align:center;
    }
}
@media (max-width: 600px) {
    .post-content {
        margin-left:0px;
    }
}