@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<a href="/Pets/AddNewPost">Add a new Post!</a>
<br />

<link rel="stylesheet" href="~/Content/Profile.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="mainbody container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 hidden-sm hidden-xs">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div align="center">
                            <img class="thumbnail img-responsive" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <hr>
                            <h3><strong>Bio</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel gravida metus, non ultrices sapien. Morbi odio metus, dapibus non nibh id amet.</p>
                            <hr>
                            <h3><strong>Location</strong></h3>
                            <p>Earth</p>
                            <hr>
                            <h3><strong>Gender</strong></h3>
                            <p>Unknown</p>
                            <hr>
                            <h3><strong>Birthday</strong></h3>
                            <p>January 01 1901</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
            @if (ViewBag.PostList.Count == 0)
            {
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="post-content">
                            <h4>This pet has no posts! :(</h4>
                        </div>
                    </div>
                </div>
            }
            else
            {
                foreach (var item in ViewBag.PostList)
                {
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div class="pull-left">
                                <a href="#">
                                    <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" style="margin-right:8px; margin-top:-5px; width:50px; height:50px;">
                                </a>
                            </div>
                            <h4><a href="#" style="text-decoration:none;"><strong>@Model.PetID</strong></a> – <small><small><a href="#" style="text-decoration:none; color:grey;"><i><i class="fa fa-clock-o" aria-hidden="true"></i> @item.Date</i></a></small></small></h4>
                            <hr />
                            <div class="post-content">
                                <img class="img-responsive" src="~/img/posts/@item.FilePath" alt="" />
                            </div>
                            <hr>
                            <div>
                                <div class="pull-right btn-group-xs">
                                    <a class="btn btn-default btn-xs"><i class="fa fa-heart" aria-hidden="true"></i> Like</a>
                                    <a class="btn btn-default btn-xs"><i class="fa fa-comment" aria-hidden="true"></i> Comment</a>
                                </div>
                                <br>
                            </div>
                            <hr>
                            <div class="media">
                                <div class="pull-left">
                                    <a href="#">
                                        <img class="media-object img-circle" src="https://lut.im/7JCpw12uUT/mY0Mb78SvSIcjvkf.png" style="margin-left:3px; margin-right:-5px; width:35px; height:35px;" />
                                    </a>
                                </div>
                                <div class="media-body">
                                    <textarea class="form-control" rows="1" placeholder="Comment"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>
