
@{
    ViewBag.Title = "YourAnimals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Animals</h2>


    <table class="table">
        

        <thead>
            <tr>
                <th>Pet ID</th>
                <th>Name</th>
                <th>Breed</th>
            </tr>
        </thead>
        @foreach (var element in ViewBag.PetList)
        {
        <tr>
            <td>@element.PetID</td>
            <td>@element.Name</td>
            <td>@element.Breed</td>
            <td><a href="/User/DeletePet?PetID=@element.PetID" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span></a></td>


        </tr>
        }

    </table>

