
@{
    ViewBag.Title = "YourAnimals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Your Animals</h2>

<table >
    @foreach (var element in ViewBag.PetList)
    {
        <tr>
            <td>@element.Name</td>
            
        </tr>
    }

</table>

